<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SoccerTour</title>
	<link rel="stylesheet" type="text/css" href="css/groupInfo.css">
	<script src="../public/js/signup.js"></script>
</head>
<body>
	<header>
		<div class="logo">
			<h1>SoccerMeet</h1>
		</div>
		<div class="navMenu">
			<ul>
				<li><a href="/homepage">Home</a></li>
				<li><a href="/notification">Notifications</a></li>
				<li><a href="/group">Group</a></li>
				<li><a href="/profile">Profile</a></li>
				<li><a href="/logout">Log out</a></li>
			</ul>
		</div>
	</header>

	<section>
		<h1>Group Info... <%= username %> </h1>
		<h2><u>Group</u></h2>
		<ul>
			<li><b>Title:</b> <%= title %></li>
			<br>
			<br>
			<li><b>Date:</b> <%= date %></li>
			<br>
			<br>
			<li><b>Time:</b> <%= time %></li>
			<br>
			<br>
			<li><b>Location:</b> <%= location %></li>
			<br>
			<br>
			<li><b>Organizer:</b> <%= organizer %></li>
			<br>
			<br>
			<li><b>Members:</b> <%= members %></li>
			<br>
			<br>
			<li>
				<form method="POST" action='/groupInfo'>
					<div class="button">
						<input type="submit" name="Join" value="Join">
					</div>
				</form>
			</li>
			<br>
			<li><p><%= Error %></p></li>
		</ul>
	</section>

	<footer>
		<h4>Footer</h4>
	</footer>
</body>
</html>